<div style="background-image:url(/Imagenes/MarcaDeAgua.png)">
    <div style="background-color: white," >
        <div class="text-center">
            <h2><img src="~/Imagenes/logo.png" width="120" height="90"><b><font color="darkblue">UNIVERSIDAD LIBARDO TORRES</font></b></h2>
            <p class="lead"></p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <p><a></a></p>
        </div>
        <div class="col-md-4">
            <h2>Hola</h2>
            <p>Hola</p>
            <p>Hola</p>
            <p>Hola</p>
            <p>Hola</p>
            <p>Hola</p>
            <p>Hola</p>
            <p>Hola</p>
            <p>Hola</p>
            <p>Hola</p>
        </div>
        <div class="col-md-4">
            <h2><HOLA></h2>
            <p>Hola</p>
            <p>Hola</p>
        </div>
    </div>
</div>